{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "should": true
  },
  "extends": [ "eslint:recommended" ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "semi": "error" ,
    "no-nested-ternary": "error",
    "max-len": ["warn", 220],
    "indent": ["error", "tab", { "SwitchCase": 1 }],
    "prefer-template": "warn",
    "quotes": ["warn", "single"],
    "no-delete-var": "error",
    "no-with": "error",
    "space-infix-ops": "error",
    "consistent-return": "error",
    "no-param-reassign": "warn",
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "require-jsdoc": "error",
    "space-in-parens": "error",
    "default-case": "error",
    "key-spacing": "error",
    "quote-props": ["error", "as-needed"],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "spaced-comment": "error",
    "no-console": "off",
    "require-await": "error",
    "template-curly-spacing": [2, "never"],
    "space-before-blocks": "error",
    "keyword-spacing": "error",
    "no-multiple-empty-lines": [2, {"max": 1}]
  }
}